*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.visibility-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.products__list {
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;

  margin: 0 auto;
  margin-bottom: 40px;

  padding-top: 20px;

  overflow: hidden;

  border-radius: 5px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.54);
}

.card:hover .card__wrapper {
  transition: 1s;
  transform: translateY(-65%);
}

.card:hover .card__paragraph {
  display: block;
}

.card__heading {
  text-align: center;
}

.card__inner {
  z-index: 2;

  display: flex;
  justify-content: space-between;

  width: 100%;

  margin-top: 40px;
  padding: 15px 20px;

  background-color: #f5f6f8;
  border-radius: 0 0 5px 5px;
}

.card__wrapper {
  position: absolute;
  top: 180px;
  z-index: 1;

  background: rgba(255, 255, 255, 0.5);

  transition: 1s;
}

.card__button {
  font-family: inherit;

  color: #ec5b3a;

  padding-right: 25px;

  cursor: pointer;

  background-color: #f5f6f8;
  background-image: url(img/card__arrow.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 100% 3px;
  border: none;
}

.card__paragraph {
  display: none;

  bottom: 20px;

  font-weight: normal;
  text-align: center;

  padding: 10px 15px;
}

@media (min-width: 620px) {
  .products__list {
    display: flex;
    flex-wrap: wrap;

    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1040px) {
  .products {
    width: 1040px;
    margin: 0 auto;
  }

  .products__list {
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
  }

  .card {
    margin: 0;
    margin-bottom: 40px;
  }

  .card + .card {
    margin-left: 40px;
  }

  .card:nth-child(4n) {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .products {
    width: 1200px;
  }

  .products__list {
    justify-content: start;
  }

  .card:nth-child(4n) {
    margin-left: 40px;
  }

  .card:nth-child(5n) {
    margin-left: 0;
  }
}
